.imagen_bunker_lista{
    height: 50px;
    width: 50px;
}

.imagen_bunker_kanban{
    height: 50px;
    width: 50px;
}

.imagen_npc_lista{
    height: 50px;
    width: 50px;
}

.imagen_npc_kanban{
    max-height: 150px;
    max-width: 150px;
}

.imagen_player_lista{
    height: 30px;
    width: 30px;
}

.imagen_bunker_lista img{
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.imagen_npc_lista img{
    border-radius: 0px;
}

.oe_kanban_image{
    transition: 0.5s;
}

.bunkerIMG:hover{
    transition: 0.2s;
    transform: rotate(360deg);
}